<!-- Start Articles -->
<div class="articles" id="articles">
  <h2 class="main-title">Contenu informatif</h2>
  <div class="row">
    <div class="col-12">
        <div class="product-info">
            <div class="nav-main">
                <!-- Tab Nav -->
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" *ngFor="let category of categories">
                        <a class="nav-link" [class.active]="category === selectedCategory"
                            (click)="selectCategory(category)">{{ category }}</a>
                    </li>
                </ul>
                <!--/ End Tab Nav -->
            </div>
        </div>
    </div>
  </div>
  <div class="container">
      <div *ngFor="let article of filteredArticles">
        <div class="box">
          <img [src]="article.image" alt="" />
          <div class="content">
            <h3>{{ article.title }}</h3>
            <p>{{ article.content }}</p>
          </div>
          <div class="info">
            <a href="#">Read More</a>
            <i class="fas fa-long-arrow-alt-right"></i>
          </div>
        </div>
      </div>
  </div>
</div>
<div class="spikes"></div>
<!-- End Articles -->
