/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
  width: 100%;
  min-height: calc(100vh - 72px);
}

.hero h1 {
  margin: 0 0 10px 0;
  margin-bottom: 70px;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: black;
}

.hero h2 {
  color: black;
  margin-bottom: 5px;
  font-size: 24px;
}

.hero .btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: var(--main-color);
  border: 2px solid var(--main-color);
}

.hero .btn-get-started:hover {
  background: var(--main-color-alt);
  color: #fff;
}

.hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

.hero .go-down {
  color: var(--main-color);
  position: absolute;
  bottom: 30px;
  left: 50%;
  left: 50%;
  transform: translateX(-50%,-50%);
  transition: var(--main-transition);
  z-index: 3;
}
.hero .go-down:hover {
  color: var(--main-color-alt);
}
.hero .go-down i {
  animation: bouncing 1.5s infinite;
}

@media (min-width: 1024px) {
  .hero {
    background-attachment: fixed;
  }
}

@media (max-width: 991px) {
  .hero {
    height: 100vh;
  }

  .hero .animated {
    animation: none;
  }

  .hero .hero-img {
    text-align: center;
  }

  .hero .hero-img img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .hero {
    margin-top: 20px;
  }

  .hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  .hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  .hero .hero-img img {
    width: 70%;
  }
}

@media (max-width: 575px) {
  .hero .hero-img img {
    width: 80%;
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}






















/* Start Landing */
/* .landing {
  position: relative;
}
.landing::before {
  content: "";
  position: absolute;
  left: 0;
  top: -40px;
  width: 100%;
  height: 100%;
  background-color: #ececec;
  z-index: -1;
  transform: skewY(-6deg);
  transform-origin: top left;
}
.landing .container {
  min-height: calc(100vh - 72px);
  display: flex;
  align-items: center;
  padding-bottom: 120px;
}
.landing .text {
  flex: 1;
}
@media (max-width: 991px) {
  .landing .text {
    text-align: center;
  }
}
.landing .text h1 {
  font-size: 40px;
  margin: 0;
  letter-spacing: -2px;
}
@media (max-width: 767px) {
  .landing .text h1 {
    font-size: 28px;
  }
}
.landing .text p {
  font-size: 23px;
  line-height: 1.7;
  margin: 5px 0 0;
  color: #666;
  max-width: 500px;
}
@media (max-width: 991px) {
  .landing .text p {
    margin: 10px auto;
  }
}
@media (max-width: 767px) {
  .landing .text p {
    font-size: 18px;
  }
}
.landing .image img {
  position: relative;
  width: 600px;
  animation: up-and-down 5s linear infinite;
}
@media (max-width: 991px) {
  .landing .image {
    display: none;
  }
}
.landing .go-down {
  color: var(--main-color);
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  transition: var(--main-transition);
}
.landing .go-down:hover {
  color: var(--main-color-alt);
}
.landing .go-down i {
  animation: bouncing 1.5s infinite;
} */
/* End Landing */