  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h2 data-aos="fade-up" data-aos-delay="400">Tout pour le bien-être</h2>
          <h1 data-aos="fade-up">de votre animal</h1>
          <div data-aos="fade-up" data-aos-delay="800">
            <a href="#about" class="btn-get-started scrollto">Shop Now!</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left" data-aos-delay="200">
          <img src="/assets/imgs/pet5.jpg" class="img-fluid animated" alt="">
        </div>
        <a href="#" class="go-down">
          <i class="fas fa-angle-double-down fa-2x"></i>
        </a>
      </div>
    </div>

  </section>
  <!-- End Hero -->

      <!-- Start Landing -->
      <!-- <div class="landing">
        <div class="container">
          <div class="text">
            <h1>Welcome, To Elzero World</h1>
            <p>Here Iam gonna share everything about my life. Books Iam reading, Games Iam Playing, Stories and Events</p>
          </div>
          <div class="image">
            <img src="imgs/landing-image.png" alt="" />
          </div>
        </div>
        <a href="#articles" class="go-down">
          <i class="fas fa-angle-double-down fa-2x"></i>
        </a>
      </div> -->
      <!-- End Landing -->
























<!-- Début Accueil -->
<!-- <div class="landing">
  <div class="container">
    <div class="text">
      <h1>Bienvenue chez Petcare</h1>
      <p>Votre partenaire dévoué pour le bien-être de vos animaux de compagnie.</p>
    </div>
    <div class="image">
      <img src="/assets/imgs/pet5.jpg" alt="Image d'Accueil" />
    </div>
  </div>
  <a href="#services" class="go-down">
    <i class="fas fa-angle-double-down fa-2x"></i>
  </a>
</div> -->
<!-- Fin Accueil -->