<header class="masthead">
  <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
      <div class="d-flex justify-content-center">
          <div class="text-center">
              <h1 class="mx-auto my-0 text-uppercase">Tout pour le bien-être</h1>
              <h2 class="text-white-50 mx-auto mt-2 mb-5">de votre animal</h2>
              <a class="btn btn-primary" href="#about">Achetez maintenant!</a>
          </div>
      </div>
  </div>
</header>




<!-- ======= Hero Section ======= -->
  <!-- <section id="hero" class="hero d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h2 data-aos="fade-up" data-aos-delay="400">Tout pour le bien-être</h2>
          <h1 data-aos="fade-up">de votre animal</h1>
          <div data-aos="fade-up" data-aos-delay="800">
            <a href="#about" class="btn-get-started scrollto">Shop Now!</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left" data-aos-delay="200">
          <img src="/assets/imgs/pet5.jpg" class="img-fluid animated" alt="">
        </div>
        <a href="#" class="go-down">
          <i class="fas fa-angle-double-down fa-2x"></i>
        </a>
      </div>
    </div>

  </section> -->
  <!-- End Hero -->
