<!-- Début Étapes de Travail -->
<div class="work-steps" id="work-steps">
  <h2 class="main-title">Comment ça marche ?</h2>
  <div class="container">
    <img src="/assets/imgs/work-steps.png" alt="" class="image" />
    <div class="info">
      <div class="box">
        <img src="/assets/imgs/work-steps-1.png" alt="" />
        <div class="text">
          <h3>Analyse d'entreprise</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim nesciunt obcaecati quisquam quis laborum
            recusandae debitis vel.
          </p>
        </div>
      </div>
      <div class="box">
        <img src="/assets/imgs/work-steps-2.png" alt="" />
        <div class="text">
          <h3>Architecture</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim nesciunt obcaecati quisquam quis laborum
            recusandae debitis vel.
          </p>
        </div>
      </div>
      <div class="box">
        <img src="/assets/imgs/work-steps-3.png" alt="" />
        <div class="text">
          <h3>Développement</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim nesciunt obcaecati quisquam quis laborum
            recusandae debitis vel.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Fin Étapes de Travail -->
