<!-- Your Angular component code -->
<section class="sign-up section section-shaped section-lg" style="background-color: var(--section-background);">
    <h2 class="main-title">S'inscrire</h2>
    <div class="container">
        <div class="shape shape-style-1 bg-gradient-default">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="container pt-lg-md">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card shadow border-0" style="border-radius: 0.375rem; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);">
                        <div class="card-header bg-white pb-5">
                            <div class="text-muted text-center mb-3">
                                <small>S'inscrire avec</small>
                            </div>
                            <div class="text-center">
                                <a href="javascript:void(0)" class="btn btn-neutral btn-icon mr-2">
                                    <span class="btn-inner--icon">
                                        <i class="fab fa-facebook"></i>
                                    </span>
                                    <span class="btn-inner--text">Facebook</span>
                                </a>
                                <a href="javascript:void(0)" class="btn btn-neutral btn-icon">
                                    <span class="btn-inner--icon">
                                        <i class="fab fa-google"></i>
                                    </span>
                                    <span class="btn-inner--text">Google</span>
                                </a>
                            </div>
                        </div>
                        <div class="card-body px-lg-5 py-lg-5 shadow-sm">
                            <div class="text-center text-muted mb-4">
                                <small>Ou s'inscrire avec des identifiants</small>
                            </div>
                            <form novalidate role="form" class="ng-untouched ng-pristine ng-valid" data-gtm-form-interact-id="1">
                                <div class="form-group">
                                    <div class="input-group input-group-alternative mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                        </div>
                                        <input class="form-control" placeholder="Nom" type="text">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group input-group-alternative mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                        </div>
                                        <input class="form-control" placeholder="Email" type="email" data-gtm-form-interact-field-id="3">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                        </div>
                                        <input class="form-control" placeholder="Mot de passe" type="password" data-gtm-form-interact-field-id="4">
                                    </div>
                                </div>
                                <div class="row my-4">
                                    <div class="col-12">
                                        <div class="custom-control custom-control-alternative custom-checkbox">
                                            <input class="custom-control-input" id="customCheckRegister" type="checkbox" data-gtm-form-interact-field-id="5">
                                            <label class="custom-control-label text-center text-muted mb-4" for="customCheckRegister">
                                                <span>J'accepte la <a href="javascript:void(0)" style="color: var(--main-color);">Politique de confidentialité</a></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button class="btn btn-primary mt-4" type="button" style="border: 0;">Créer un compte</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12 text-center">
                    <a href="login" class="text-light login-link">
                        <small>Déjà enregistré? <span>Se connecter</span></small>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
























<!-- <main>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 login-section-wrapper">
        <div class="login-wrapper my-auto">
          <h1 class="login-title">Log in</h1>
          <form action="#!">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" name="email" id="email" class="form-control" placeholder="email@example.com">
            </div>
            <div class="form-group mb-4">
              <label for="password">Password</label>
              <input type="password" name="password" id="password" class="form-control" placeholder="enter your passsword">
            </div>
            <input name="login" id="login" class="btn btn-block login-btn" type="button" value="Login">
          </form>
          <a href="#!" class="forgot-password-link">Forgot password?</a>
          <p class="login-wrapper-footer-text">Don't have an account? <a href="#!" class="text-reset">Register here</a></p>
        </div>
      </div>
      <div class="col-sm-6 px-0 d-none d-sm-block">
        <img src="/assets/imgs/animal6.jpg" alt="login image" class="login-img">
      </div>
    </div>
  </div>
</main> -->