<!-- Début Services -->
<div class="services" id="services">
  <h2 class="main-title">Nos Services</h2>
  <div class="container">
    <div class="box">
      <i class="fas fa-paw fa-4x"></i>
      <h3>Vente en ligne de produits pour animaux</h3>
      <div class="info">
        <a href="#">Détails</a>
      </div>
    </div>
    <div class="box">
      <i class="fas fa-home fa-4x"></i>
      <h3>Services de garderie pour animaux</h3>
      <div class="info">
        <a href="#">Détails</a>
      </div>
    </div>
    <div class="box">
      <i class="fas fa-home fa-4x"></i>
      <h3>Services vétérinaires    <span style="opacity: 0;">  cdfrkjrsf</span></h3>
      <div class="info">
        <a href="#">Détails</a>
      </div>
    </div>
  </div>
</div>
<!-- Fin Services -->
