<!--====== SECTION CONTACTEZ-NOUS DÉBUT ======-->
<section class="contact-area">
    <div class="container">
      <h2 class="main-title">Contact</h2>
       <div class="row">
          <div class="col-xl-7 col-lg-8">
             <div class="section-title mt-45">
                <h3 class="title">Prenez contact</h3>
             </div>
             <div class="contact-form form-style-four mt-15">
                <form action="#">
                   <div class="row">
                      <div class="col-md-6">
                         <div class="form-input mt-15">
                            <label>Nom Complet</label>
                            <div class="input-items default">
                               <i class="lni lni-user"></i>
                               <input type="text" placeholder="John Doe" />
                            </div>
                         </div>
                      </div>
                      <div class="col-md-6">
                         <div class="form-input mt-15">
                            <label>Adresse Email</label>
                            <div class="input-items default">
                               <i class="lni lni-envelope"></i>
                               <input type="text" placeholder="admin@votre-entreprise.com" />
                            </div>
                         </div>
                      </div>
                      <div class="col-md-6">
                         <div class="form-input mt-15">
                            <label>Numéro de Téléphone</label>
                            <div class="input-items default">
                               <i class="lni lni-phone"></i>
                               <input type="text" placeholder="01234567890" />
                            </div>
                         </div>
                      </div>
                      <div class="col-md-6">
                         <div class="form-input mt-15">
                            <label>Sujet</label>
                            <div class="input-items default">
                               <i class="lni lni-bubble"></i>
                               <input type="text" placeholder="Écrivez ici" />
                            </div>
                         </div>
                      </div>
                      <div class="col-md-12">
                         <div class="form-input mt-15">
                            <label>Votre Message</label>
                            <div class="input-items default">
                               <i class="lni lni-pencil-alt"></i>
                               <textarea
                                  placeholder="Tapez votre message ici"
                                  ></textarea>
                            </div>
                         </div>
                      </div>
                      <div class="col-md-12">
                         <div class="single-form mt-15">
                            <div class="input-form rounded-buttons">
                               <button
                                  class="btn primary-btn rounded-full"
                                  type="submit"
                                  >
                               ENVOYER LE MESSAGE
                               </button>
                            </div>
                         </div>
                      </div>
                   </div>
                </form>
             </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8 offset-xl-1">
             <div class="section-title mt-5">
                <h3 class="title">Coordonnées</h3>
             </div>
             <div class="contact-info">
                <ul class="info">
                   <li>
                      <div class="single-info">
                         <div class="info-icon">
                            <i class="lni lni-map-marker"></i>
                         </div>
                         <div class="info-content">
                            <p class="text">
                               Niveau 13, 2 Elizabeth St, Melbourne, Victoria 3000,
                               Australie
                            </p>
                         </div>
                      </div>
                   </li>
                   <li>
                      <div class="single-info">
                         <div class="info-icon">
                            <i class="lni lni-phone"></i>
                         </div>
                         <div class="info-content">
                            <p class="text">+61 (8) 8234 3555</p>
                         </div>
                      </div>
                   </li>
                   <li>
                      <div class="single-info">
                         <div class="info-icon">
                            <i class="lni lni-phone-set"></i>
                         </div>
                         <div class="info-content">
                            <p class="text">+61 (8) 8234 3555</p>
                         </div>
                      </div>
                   </li>
                   <li>
                      <div class="single-info">
                         <div class="info-icon">
                            <i class="lni lni-envelope"></i>
                         </div>
                         <div class="info-content">
                            <p class="text">admin.votre-entreprise.com</p>
                         </div>
                      </div>
                   </li>
                </ul>
                <ul class="social mt-5">
                   <li>
                      <a href="javascript:void(0)">
                      <i class="lni lni-facebook-filled"></i>
                      </a>
                   </li>
                   <li>
                      <a href="javascript:void(0)">
                      <i class="lni lni-twitter-original"></i>
                      </a>
                   </li>
                   <li>
                      <a href="javascript:void(0)">
                      <i class="lni lni-instagram-original"></i>
                      </a>
                   </li>
                   <li>
                      <a href="javascript:void(0)">
                      <i class="lni lni-linkedin-original"></i>
                      </a>
                   </li>
                </ul>
             </div>
          </div>
       </div>
    </div>
 </section>
 <!--====== SECTION CONTACTEZ-NOUS FIN ======-->
